/* Body Styling */

body {
    Font-family: Arial', 'Helvetica Neue, Helvetica, sans-serif;
}

span, h2, h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}



/* Header and Navigation */

header {
    border-bottom: 2px solid #cccccc;
}

span {
    font-size: 2rem;
    padding: 0 2%;
}

a:hover {
    color: #4aaaa5;
}

.span {
    background-color: #4aaaa5;
    text-align: center;
}

.navbar-brand {
    
    height: 2em;
    font-size: 3rem;
    color: white;
    flex-wrap: wrap;
    padding: auto 1rem;
    margin-left: 1rem;
}

.nav {
    justify-content: flex-end;
}

.nav-link { 
    height: 2em;
    color: #cccccc;
    margin: 20px auto;
    font-size: 1.4rem;
    padding: 20px;

}

ul.navigation {
    height: 100%;
}

/* Main Content */

h2 {
    color: #4aaaa5;
    padding: 1.5% 0;
    font-size: 2.5rem;
}

p {
    line-height: 1.8em;
}

.profile-pic {
    width: 25%;
    height: auto;
    padding-right: 1.5%;
    padding-bottom: 1.5%;
}

.main-container {
    margin: 2% auto;
}

.background-image {
    background-image: url("../images/background.png");
}

/* Portfolio Styling */

h5 {
    background-color: #4aaaa5;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 1%;
    font-size: 2vw;
}

.card {
    width: 25%;
    height: auto;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

/* Footer */

footer {
    height: 5em;
    position: absolute;
    background-color: #444;
    border-top: 5px solid #4aaaa5;
}

.footer {
    font-size: 1rem;
}


/* Media Query */

@media screen and (max-width: 768px) {
    .nav {
        justify-content: center;
    }
  }